.shop-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shopcategory-banner{
    display: block;
    width: 82%;
    border-radius: 15px;
    margin-top: 15px ;
}
.shopcategory-indexSort{
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.shopcategory-products{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 82%;
    gap:40px
}